:root {
  --primary: #9356dc;
  --secondary: #ff79da;
  --tertiary: #99e2d0;
  --background: #f3f3f3;
  --green: #99e2d0;
  --green-font: #008766;
  --blue: #89C8FA;
  --blue2: #003A68;
  --grey: #353535;
  --grey-light: #7e7e7e;
  --white: #f3f3f3;
  --black: #000000;
  --black-light: #101010;
}

/* 'Roboto', sans-serif/ 'Shrikhand', cursive/  'Inter', sans-serif; */
@media (min-width: 250px) {
  .menu__header {
    width: 250px;
    margin-right: -60px;
    display: flex;
    justify-content: center;
  }
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HEADER */
body {
  overflow-x: hidden;
}

header {
  box-shadow: 1px 5px 4px rgba(120, 49, 49, 0.3019607843);
}

.header__logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 17.5px 0 17.5px 0;
}
.header__logo__img {
  width: 43.2%;
  max-width: 200px;
}

.icone-goback {
  margin-left: 13px;
  position: absolute;
  left: 0;
  color: var(--black);
}

/* MAIN */
main {
  background-color: white;
}

.banner img {
  width: 100%;
  height: 270px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

/* MENU  */
.menu-price {
  font-weight: 500;
}

.menu {
  margin-top: -40px;
  padding: 20px 32px 4px 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 40px 40px 0 0;
  background-color: var(--background);
}
.menu__header {
  display: flex;
  align-items: center;
}
.menu__header .icone-heart--2 {
  margin-inline: 15px;
}
.menu__header .icone-heart-hover--2 {
  font-size: 25.35px;
  transition: opacity 0.25s ease;
  opacity: 0%;
  position: relative;
  right: 54.5px;
  line-height: 30px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(352deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  margin-inline: 15px;
}
.menu__header :hover {
  transition: opacity 0.25s ease;
  opacity: 100%;
}

.menu__header {
  width: 100%;
  margin-right: -60px;
  display: flex;
  justify-content: center;
}

.material-symbols-outlined {
  color: black;
}

.menu h1 {
  font-family: "shrikhand";
  font-size: 28px;
  font-weight: normal;
}

.heart-container {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.menu__frame {
  width: 100%;
  max-width: 634px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.menu__frame--1 {
  opacity: 0;
  animation: apparition 0.5s linear 0.25s forwards;
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu__frame--2 {
  opacity: 0;
  animation: apparition 1s linear 0.5s forwards;
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu__frame--3 {
  opacity: 0;
  animation: apparition 1.5s linear 1s forwards;
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu__frame__header {
  margin-left: -10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu__bar {
  width: 40px;
  height: 3px;
  margin: 3px 0 3px 0;
  background-color: var(--tertiary);
}

.menu__frame h2 {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}

.card {
  overflow: hidden;
  width: 90%;
  max-width: 567px;
  height: 55px;
  padding: 10px 55px 10px 10px;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.card-checkbox {
  display: none;
}

.card-label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.icone-container {
  width: 65px;
  height: 80px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -121px;
  transition: transform 0.3s ease;
}

.card-checkbox:hover + .card-label .icone-container {
  transform: translateX(-66px);
}

.color-white {
  margin-left: 7px;
  color: var(--white);
}

.price {
  font-weight: 600;
  margin-left: -65px;
}

.card-content-subtil {
  font-weight: 300;
}

@media (min-width: 768px) {
  .menu {
    width: 705px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
  }
  .menu__frame {
    padding: 0;
  }
  .menu__frame {
    width: 100%;
    max-width: 734px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .menu__frame__header {
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .card {
    height: 55px;
    width: 634px;
    max-width: 634px;
    margin: 5px 0 5px 0;
    padding: 10px 55px 10px 10px;
    background: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
}
@media (min-width: 1024px) {
  .menu__frame__header {
    padding-left: 30px;
    width: 100%;
  }
  .menu {
    width: 100%;
    max-width: 1024px;
    margin-inline: auto;
  }
}/*# sourceMappingURL=style_pages.css.map */